@media screen and (max-width: 620px) {
    .options {
        flex-direction: column;
    }
}

.paddle {
    width: 7px;
    height: 47px;
    border-radius: 10px;
}

.paddle-fire {
    background: #EC7B3C;
}

.paddle-ice {
    background: #2FB3EC;
}

.paddle-basic {
    background: #D9D9D9;
}

.paddlecard {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .75rem;
    width: 88px;
    height: 92px;
}

input[name="paddle-option"]:checked~.paddlecard {
    border-color: var(--secondary-color);
}

.pong-table {
    max-width: 100%;
    /* max-height: 10%; */
    border-radius: 1rem;
}

@media only screen and (max-height: 820px) {
    .pong-table {
        height: 80vh;
    }
}

.pong-table-football {
    background-image:
        linear-gradient(to right,
            #006400 6.25%, #008000 6.25%, #008000 12.5%, #006400 12.5%,
            #006400 18.75%, #008000 18.75%, #008000 25%, #006400 25%,
            #006400 31.25%, #008000 31.25%, #008000 37.5%, #006400 37.5%,
            #006400 43.75%, #008000 43.75%, #008000 50%, #006400 50%,
            #006400 56.25%, #008000 56.25%, #008000 62.5%, #006400 62.5%,
            #006400 68.75%, #008000 68.75%, #008000 75%, #006400 75%,
            #006400 81.25%, #008000 81.25%, #008000 87.5%, #006400 87.5%,
            #006400 93.75%, #008000 93.75%, #008000 100%, #006400 100%);
    border: 5px solid white;
}

.pong-table-classic {
    border-radius: 0 !important;
    background-color: black;
    border: 5px solid white;
}

.pong-table-standard {
    background-color: var(--background-color);
    border: 5px solid #56646C;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.scoreboard {
    width: 710px;
    height: 49px;
    position: relative;
}

.scoreboard .leftBox,
.scoreboard .rightBox {
    width: 354px;
    height: 49px;
    position: absolute;
    top: 0px;
}

.scoreboard .leftBox {
    left: 0px;
    background: var(--secondary-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.scoreboard .rightBox {
    left: 356px;
    background: var(--primary-color);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.scoreboard .middleBox {
    width: 75px;
    height: 37px;
    left: 317px;
    top: 6px;
    position: absolute;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
}

.scoreboard .text {
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: inherit;
    font-weight: 800;
    line-height: 18px;
    word-wrap: break-word;
}

.scoreboard .text1 {
    left: 127px;
    top: 16px;
}

.scoreboard .text2 {
    left: 483px;
    top: 16px;
}

.scoreboard .leftBox img{
    position: absolute;
    top: 4px;
    left: 5px;
    border-radius: 10px;
}

.scoreboard .rightBox img{
    position: absolute;
    top: 4px;
    right: 5px;
    border-radius: 10px;
}
.scoreboard .text3 {
    left: 329px;
    top: 16px;
    color: var(--secondary-color);
}

.scoreboard .text4 {
    left: 363px;
    top: 16px;
    color: var(--primary-color);
}
