@media screen and (max-width: 620px) {
    .options {
        flex-direction: column;
    }
}

.paddle, 
.paddle-basic,
.paddle-ice,
.paddle-fire {
    width: 7px;
    height: 47px;
    border-radius: 10px;
}

.paddle-fire {
    background: #EC7B3C;
}

.paddle-ice {
    background: #2FB3EC;
}

.paddle-basic {
    background: #D9D9D9;
}

.table,
.classic,
.standard
.football {
    /* background-color: var(--bg-color); */
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: var(--primary-color);
    border: 5px solid #56646C;
    border-radius: 25px;
    /* width: 80%;
    height: 80%; */
}

.paddlecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--default-color);
    border: 1px solid #56646C;
    border-radius: 12px;
    width: 88px;
    height: 92px;

}