.table-theme {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .75rem;
    width: 254px;
    /* height: 191px; */
    padding: 1rem;
}

input[name="theme-option"]:checked ~ .table-theme {
    background-color: var(--active-bg-color);
}

.vertical-line {
    border: 1px solid var(--active-bg-color); /* Change color as needed */
    height: 200px; /* Or any specific height */
    width: 0;
}

.qualifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}