.winner {
	font-weight: bold;
}

.lost {
	font-weight: normal;
}

.brackets {
	display: flex;
	/* align-items: center; */
	justify-content: center;
	width: 100%;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 20%;
	padding: 0 15px;
}
.col:before,
.col:after {
	content: "";
	flex-grow: 0.5;
}

.match-spacer {
	flex-grow: 1;
}
.col:first-child .match-spacer {
	min-height: 6px;
}
.col:not(:first-child) .match-spacer {
	min-height: 24px;
}

.group-spacer {
	min-height: 24px;
	flex-grow: 1;
}

.match {
	position: relative;
	padding: 0px;
	background-color: #262f35;
	border-radius: 0.5rem;
}
.col .match:before,
.col:not(:last-child) .match:after {
	display: block;
	content: "";
	position: absolute;
	background-color: var(--stroke-color);
	z-index: -1;
}
.col .match:before {
	top: 50%;
	height: 1px;
	margin-top: -1px;
}
.col:not(:last-child) .match:after {
	width: 1px;
	right: -15px;
}
.col:not(:last-child) .match:first-child:after,
.col:not(:last-child) .group-spacer + .match:after {
	top: 50%;
	bottom: 0;
}
.col:not(:last-child) .pipe + .match:after {
	top: 0;
	bottom: 50%;
}
.col:not(:first-child) .match:before {
	left: -15px;
}
.col:not(:last-child) .match:before {
	right: -15px;
}
.col:first-child .match:before {
	width: 100%;
}
.col:last-child .match:before {
	width: 100%;
}

.pipe {
	position: relative;
}
.pipe:after {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	right: -15px;
	bottom: 0;
	width: 1px;
	background-color: var(--stroke-color);
}

.player {
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 0.95rem;
	border-left: 5px solid var(--stroke-color);
}
.player:first-child {
	border-bottom: thin solid var(--border-color);
}
.player.winner {
	color: var(--success-color);
	border-left: 5px solid var(--success-color);
}

c-match {
	position: relative;
}

c-match .match-id {
	position: absolute;
	top: 50%;
	right: 0;
	padding: 0.4rem;
	font-size: 0.75rem;
	transform: translateY(-50%);
	background-color: var(--default-color);
	color: var(--stroke-color);
}