.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: 100vh;
    width: 256px;
    padding: 1.25rem;
    background-color: var(--bg-color);
    border-right: solid 1px;
    border-color: var(--border-color);
}

.content {
    margin-left: 256px;
    overflow-y: auto;
    width: calc(100% - 256px);
    height: 100vh;
}

.sidebar-link {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding: 14px;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 150ms ease-in-out;

    &:hover{
        background-color: var(--active-bg-color);
    }

    &.active {
        background-color: var(--active-bg-color);
        box-shadow: 0 0 0 2px var(--secondary-color) inset;
        color: var(--secondary-color);
    }
}