body.content {
	display: grid;
	grid-template-columns: 256px 1fr;
	grid-template-rows: 100vh;
	grid-template-areas: "side body";
}

router-outlet {
	grid-area: body;
	overflow: auto !important;
}

.sidebar {
	grid-area: side;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	padding: 1.25rem;
	background-color: var(--bg-color);
	border-right: solid 2px;
	border-color: var(--border-color);
}

.sidebar-top {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.sidebar-link {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding: 14px;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    font-size: 14px !important;
}

.sidebar-link:hover {
    background-color: var(--active-bg-color);
}

.sidebar-link.active {
    background-color: var(--active-bg-color);
    box-shadow: 0 0 0 2px var(--secondary-color) inset;
    color: var(--secondary-color);
}

@media screen and (max-width: 1280px) {
    .sidebar c-logo .logo {
        content: url("../assets/icons/bp.svg");
    }

    .sidebar-link {
        justify-content: center;
    }

    .sidebar-link .font-bold {
        display: none;
    }

    body.content {
        grid-template-columns: 97px 1fr;
    }
}
