.chat-page {
    display: grid;
    grid-template-columns: minmax(300px, 350px) minmax(700px, 1fr);
    grid-template-rows: 100vh;
    gap: 0px 0px;
    grid-template-areas: "chat-list chat-conversation";
}

.chat-page__empty {
    display: grid;
    grid-template-columns: minmax(300px, 350px) minmax(700px, 1fr);
    grid-template-rows: 100vh;
    gap: 0px 0px;
    grid-template-areas: "chat-list chat-conversation";
}

.chat-page__empty .conversation-header {
    display: none;
}

.chat-page__empty .conversation-footer {
    display: none;
}

.chat-page__empty .chat-match-history {
    display: none;
}

.chat-list {
    grid-area: chat-list;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid var(--border-color);
    gap: .5rem;
}

.chat-match-history {
    grid-area: chat-matches-history;
    border-left: 2px solid var(--border-color);
    height: 100vh;
}

.conversation {
    display: grid;
    grid-template-rows: 88px 1fr 88px;
    grid-area: chat-conversation;
    background-color: var(--input-bg-color);
}

.chat-list__header {
    width: 100%;
    height: 88px;
    border-bottom: 2px solid var(--border-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1.25rem;
}

.chat-list__content {
    overflow: auto;
    width: 100%;
    padding: 0 0.75rem;
}

.chat-list__add {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.chat-list__add:hover {
    /* width: 32px;
    height: 32px; */
    transform: rotate(90deg);
    transition: all 0.5s ease;
}

.chat-list__title {
    font-size: 1.75rem;
}


.chat-list__search {
    width: 100%;
    padding: 0 .75rem;
}

.chat-list__items {
    width: 100%;
    margin: .5rem 0;
}

.message-card{
    border-radius: 1rem;
    width: 100%;
    /* height: 70px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .75rem 1rem;
    gap: 1rem;
    margin-bottom: .5rem;
    cursor: pointer;
}

.message-card:hover{
    background-color: var(--border-color);
}

.message-card.active{
    background-color: var(--input-bg-color);
}

.message-card__img{
    width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 100%;
	flex-shrink: 0;
}

.message-card__content {
    display: flex;
    flex-direction: column;
}

.message-card__time {
    margin-left: auto;
    font-weight: bold;
    color: gray;
    font-size: .8rem;
}

.chat-header, .conversation-header {
    display: flex;
    height: 88px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 2px solid var(--border-color);
    background-color: var(--bg-color);
    gap: 1.5rem;
}

.conversation-header__username {
    font-size: 1.5rem;
    font-weight: bold;
}

.conversation-header__status {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.conversation-header__status__dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.conversation-header__status__dot.online {
    background-color: var(--success-color);
}

.conversation-header__status__dot.offline {
    background-color: var(--stroke-color);
}

.conversation-header__status__dot.playing {
    background-color: var(--danger-color);
}


.conversation-header__status__text {
    font-size: 1rem;
    color: gray;
}


.conversation-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.conversation-form {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.chat-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    box-shadow: none;
}

.conversation-body {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 1rem;
    height: calc(100vh - 88px * 2);
    overflow-y: auto;
}

.conversation-body .player-avatar {
    opacity: 0;
    align-self: flex-end;
    margin-bottom: 0.25rem;
}

.conversation-body c-message-bubble:first-child .player-avatar,
.conversation-body c-message-bubble[type="out"] + c-message-bubble[type="in"] .player-avatar {
    opacity: 1;
}


c-message-bubble {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.message-bubble {
    padding: 0.75rem;
    border-radius: 0.75rem;
    max-width: 55%;
}

.message-bubble.in {
    margin-right: auto;
    background-color: var(--bg-color);
}

.message-bubble.out {
    margin-left: auto;
    background-color: var(--primary-color);
}


.message-content {
    font-size: 1rem;
    color: var(--text-color);
    word-break: break-word;
    line-height: 1.6;
}

.dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid var(--bg-color);
    background-color: var(--primary-color);
    position: absolute;
    right: -4px;
    top: -4px;
}

/* styling for the seen message */
.seen{
    color: var(--stroke-color);
    position: absolute;
    right:40px;
    bottom: 80px;
}