.chat-list {
    width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #262F35;
}

.chat-list__header {
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #262F35;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

.chat-list__add {
    width: 30px;
    height: 30px;
}

.chat-list__title {
    font-size: 1.25rem;
}


.chat-list__search {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}


.message-card{
    border: 2px solid white;
    border-radius: 1rem;
    width: 300px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 0 1rem;
}

.message-card__img{
    border-radius: 100%;
    width: 50px;
    /* align-self: flex-start; */
}

.message-card__content {
    display: flex;
    flex-direction: column;
}
.message-card__time {
    margin-left: auto;
    font-weight: bold;
    color: gray;
}