.chat-list {
    width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #262F35;
}

.chat-list__header {
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #262F35;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

.chat-list__add {
    width: 30px;
    height: 30px;
    /* align-self: end; */
}

.chat-list__title {
    /* align-self: flex-start; */

    font-size: 1.25rem;
}


.chat-list__search {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}



chat-list