ul {
	list-style: none;
}

/*=============== DROPDOWN ===============*/

.dropdown-wrapper {
    position: relative;
    /* width: max-content; */
}

.dropdown__button,
.dropdown__item {
	display: flex;
	align-items: center;
	column-gap: 1.5rem;
}

.dropdown__icon {
	font-size: 1.25rem;
	color: var(--primary-color);
}

.dropdown__name {
	font-weight: 500;
}

.dropdown__icons {
	width: 24px;
	height: 24px;
	color: var(--text-color);
	display: grid;
	place-items: center;
}

.dropdown__arrow,
.dropdown__close {
	position: absolute;
	transition: opacity 0.1s, transform 0.4s;
}

.dropdown__close {
	opacity: 0;
}

.dropdown__menu {
	display: grid;
	width: fit-content;
	row-gap: 2rem;
	position: absolute;
    z-index: 10000;
	background-color: var(--default-color);
	padding: 1.25rem 1.75rem;
	border-radius: 0.75rem;
	left: 0;
	top: 3.5rem;
	transform: scale(0.1);
	transform-origin: 2rem -1rem;
	pointer-events: none;
	transition: opacity 0.4s, transform 0.4s;
	opacity: 0;
}

.dropdown-notifications .dropdown__menu {
	top: 2rem;
	left: -20rem;
	width: 450px;
	transform-origin: 20rem 0rem;
}

.dropdown__item {
	cursor: pointer;
	transition: color 0.3s;
}

.dropdown__item:hover {
	color: var(--primary-color);
}

/* Show dropdown menu */
.show-dropdown .dropdown__menu {
	opacity: 1;
	transform: scale(1);
	pointer-events: initial;
}
