.match-making-container
{
    width: 100vw;
    height: 100vh;
}

.player-border
{
    border: 5px solid var(--stroke-color);
}

.img-box
{
    object-fit: cover;
    width: 170px;
    height: 170px;
    border-radius: 11%;
    overflow: hidden;
    position: relative;
}

.img-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* 
.img-box::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: var(--success-color);
    box-shadow: 0 0 20px rgb(8, 8, 8) ;
    animation: animate 2s linear infinite;
} */

/* .img-box::after{
    content: "";
    position: absolute;
    inset: 10px;
    background-color: rgb(4, 75, 97);
    border-radius: 16px;

} */

.player-img{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    /* border-radius: 9%; */
    /* margin: 10px; */
    /* position: relative;

    object-fit: cover;
    object-position: center; */
    /* adding shadow */
}

/* border image animation */
@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.loading {
    img{
        z-index: 12;
    }
	position: relative;
	z-index: 0;
	width: 170px;
	height: 170px;
	/* border-radius: 10px; */
	overflow: hidden;
	/* padding: 2rem; */
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	font-weight: bold;

  & img {
    display: none;
  }
	
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #399953;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(var(--primary-color), var(--primary-color)), linear-gradient(var(--secondary-color),  var(--secondary-color)), linear-gradient( var(--primary-color),  var(--primary-color)), linear-gradient( var(--secondary-color),  var(--secondary-color));
		animation: rotate 4s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);

		background-image: url('../assets/icons/default.png');
		background-repeat: no-repeat;
        background-size: cover; 
        border-radius: 11%;
	}
}
  

/* three single-dots styleing  */

.dots {
    /* width: 100px; */
    height: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .single-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
  }
  
  .single-dot:nth-child(1) {
    transform: translateX(100%);
    background-color: white;
    animation: left 1s ease alternate infinite;
  }
  
  .single-dot:nth-child(2) {
    animation: center 1s ease infinite;
  }
  
  .single-dot:nth-child(3) {
    transform: translateX(-100%);
    background-color: white;
    animation: right 1s ease alternate infinite;
  }
  
  @keyframes left {
    0% {
      transform: translateX(100%);
    }
  
    50% {
      transform: translateX(-10%);
    }
  
    100% {
      transform: translateX(100%);
    }
  }
  
  @keyframes right {
    0% {
      transform: translateX(-100%);
    }
  
    50% {
      transform: translateX(10%);
    }
  
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes center {
    0%,
    100% {
      transform: scale(0.5);
    }
  
    50% {
      transform: scale(1);
    }
  }
  